h1 {
  font-family:Helvetica;
  font-size:100px;
  font-weight:bold;
  color:khaki;
  text-align:center;
  background-image: url(pictures/pattern.jpeg);
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight:bold;
  color:white;
}

.green {
  background-color: mediumspringgreen;
}

.blue {
  background-color: skyblue;
}

.red {
  background-color: lightcoral;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
